/*
 * @name Nordic Glass
 * @description A nordic discord theme with transparency
 * @author Curve
 * @version 1.0
 * @requires Glasscord>=0.0.5
*/
@import url("https://crearts-community.github.io/Settings-Icons/src/source.css");
@import url("https://crearts-community.github.io/Context-Icons/clients/betterdiscord.css");
@import url("https://snappercord.github.io/codeblock-icons/dist-default.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/JoyPixels.css");
:root {
  --glasscord-titlebar: native;
  --glasscord-linux-blur: true;
  --glasscord-win-blur: blurbehind;
  --glasscord-win-performance-mode: true;
  --glasscord-macos-vibrancy: fullscreen-ui;
  --font-primary: "SF Pro Display", sans-serif;
  --font-display: "SF Pro Display", sans-serif; }

code {
  font-family: "CaskaydiaCove NF", monospace !important; }

.theme-dark,
.theme-light {
  --background-floating: #3b4252 !important;
  --background-primary: rgba(46, 52, 64, 0.4) !important;
  --background-secondary: rgba(46, 52, 64, 0.4) !important;
  --background-secondary-alt: #2e3440 !important;
  --brand-experiment: #81a1c1 !important;
  --brand-experiment-560: rgba(129, 161, 193, 0.8) !important;
  --brand-experiment-600: rgba(129, 161, 193, 0.5) !important;
  --channeltextarea-background: #3b4252 !important;
  --background-tertiary: rgba(46, 52, 64, 0.4) !important;
  --background-accent: #4c566a !important;
  --background-modifier-active: #3b4252 !important;
  --text-normal: #d8dee9 !important;
  --text-danger: #bf616a !important;
  --text-warning: #ebcb8b !important;
  --text-positive: #a3be8c !important;
  --header-primary: #e5e9f0 !important;
  --header-secondary: #eceff4 !important;
  --background-modifier-hover: #434c5e !important;
  --background-modifier-accent: #434c5e !important;
  --background-modifier-selected: #434c5e !important;
  --background-mentioned: rgba(208, 135, 112, 0.1) !important;
  --background-mentioned-hover: rgba(208, 135, 112, 0.11) !important;
  --scrollbar-auto-thumb: #3b4252 !important;
  --scrollbar-auto-track: #2e3440 !important; }

.panels-3wFtMD {
  --background-secondary-alt: rgba(46, 52, 64, 0.4) !important; }

.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx,
.button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx {
  background-color: rgba(163, 190, 140, 0.8) !important; }

.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx:hover,
.button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx:hover {
  background-color: #a3be8c !important; }

.outer-2JOHae.interactive-2zD88a:hover {
  background-color: #434c5e !important; }

.container-2cd8Mz {
  background-color: transparent !important; }

.contentWrapper-3vHNP2,
.unicodeShortcut-3N8oDe,
.header-1ULbqO,
.emojiPicker-6YCk8a,
.messagesPopout-eVzQcI,
.recentMentionsPopout-2bI1ZN,
*[id^='popout_'],
.section-3G9aLW {
  --background-secondary: #3b4252 !important; }

.callContainer-HtHELf,
.wrapper-1gVUIN,
.minimum-fXpVNc {
  background-color: rgba(46, 52, 64, 0.2) !important; }

.pageWrapper-2PwDoS {
  background-color: rgba(46, 52, 64, 0.2) !important; }

div[class^="carouselModal-"].root-g14mjS {
  background-color: transparent !important; }

.theme-dark .root-g14mjS {
  background-color: #2e3440 !important; }

.theme-dark .footer-31IekZ {
  background-color: #3b4252 !important; }
