/*
 * @name Nordic Glass
 * @description A nordic discord theme with transparency
 * @author Curve
 * @version 1.0
 * @requires Glasscord>=0.0.5
*/

// Settings Icons
@import url("https://crearts-community.github.io/Settings-Icons/src/source.css");

// ContextMenu Icons
@import url("https://crearts-community.github.io/Context-Icons/clients/betterdiscord.css");

// Codeblock icons
@import url("https://snappercord.github.io/codeblock-icons/dist-default.css");

// Replace emojis
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/JoyPixels.css");

$nord-0: #2e3440;
$nord-1: #3b4252;
$nord-2: #434c5e;
$nord-3: #4c566a;
$nord-4: #d8dee9;
$nord-5: #e5e9f0;
$nord-6: #eceff4;
$nord-7: #8fbcbb;
$nord-8: #88c0d0;
$nord-9: #81a1c1;
$nord-10: #5e81ac;
$nord-11: #bf616a;
$nord-12: #d08770;
$nord-13: #ebcb8b;
$nord-14: #a3be8c;
$nord-15: #b48ead;

:root {
  --glasscord-titlebar: native;
  --glasscord-linux-blur: true;
  --glasscord-win-blur: blurbehind;
  --glasscord-win-performance-mode: true;
  --glasscord-macos-vibrancy: fullscreen-ui;

  --font-primary: "SF Pro Display", sans-serif;
  --font-display: "SF Pro Display", sans-serif;
}

code {
  font-family: "CaskaydiaCove NF", monospace !important;
}

.theme-dark,
.theme-light // We also apply this to the light theme to fix the "Create Server" Modal
{
  --background-floating: #{$nord-1} !important;
  --background-primary: #{transparentize($nord-0, 0.6)} !important;
  --background-secondary: #{transparentize($nord-0, 0.6)} !important;
  --background-secondary-alt: #{$nord-0} !important;

  --brand-experiment: #{$nord-9} !important;
  --brand-experiment-560: #{$nord-9} !important;
  --brand-experiment-600: #{$nord-9} !important;

  --channeltextarea-background: #{$nord-1} !important;
  --background-tertiary: #{transparentize($nord-0, 0.6)} !important;

  --background-accent: #{$nord-3} !important;
  --background-modifier-active: #{$nord-1} !important;

  --text-normal: #{$nord-4} !important;
  --text-danger: #{$nord-11} !important;
  --text-warning: #{$nord-13} !important;
  --text-positive: #{$nord-14} !important;
  --header-primary: #{$nord-5} !important;
  --header-secondary: #{$nord-6} !important;

  --background-modifier-hover: #{$nord-2} !important;
  --background-modifier-accent: #{$nord-2} !important;
  --background-modifier-selected: #{$nord-2} !important;

  --background-mentioned: #{transparentize($nord-12, 0.9)} !important;
  --background-mentioned-hover: #{transparentize($nord-12, 0.89)} !important;

  --scrollbar-auto-thumb: #{$nord-1} !important;
  --scrollbar-auto-track: #{$nord-0} !important;
}

.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx,
.button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx {
  // Screen Share Button when active
  background-color: #{transparentize($nord-14, 0.2)} !important;
}

.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx:hover,
.button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx:hover {
  // Screen Share Button when active and hovered
  background-color: $nord-14 !important;
}

.outer-2JOHae.interactive-2zD88a:hover // Friends List "Active Now" hover
{
  background-color: $nord-2 !important;
}

.container-2cd8Mz {
  // Adjust the friends list
  background-color: transparent !important;
}

.contentWrapper-3vHNP2, // Background for normal emoji picker which shows "GIFS, Stickers, Emojis"
.unicodeShortcut-3N8oDe, // Small emoji icon in the bottom left in the emoji picker
.header-1ULbqO, // Headers such as "Frequently used" in the emoji picker
.emojiPicker-6YCk8a, //Background for the reactions emoji picker
.messagesPopout-eVzQcI, // Pinned messages
#popout_56, // Pinned messages
.recentMentionsPopout-2bI1ZN, // Despite the name, responsible for Unread messages background
#popout_54, // Threads background
.section-3G9aLW // Activities in the friend list
{
  // Remove transparency from emoji-picker, pinned messages and inbox
  background-color: $nord-1 !important;
}

.channelHeader-DFRX8q {
  // Inbox Header
  background-color: $nord-1 !important;
}
.messageContainer-3VTXBC {
  // Inbox Message Container
  background-color: $nord-2 !important;
}

.callContainer-HtHELf,
.wrapper-1gVUIN,
.minimum-fXpVNc {
  // Call Background
  background-color: transparentize($nord-0, 0.8) !important;
}

.pageWrapper-2PwDoS {
  // Explore Page
  background-color: transparentize($nord-0, 0.8) !important;
}

.theme-dark .root-g14mjS {
  // Screen-Share Modal Body
  background-color: $nord-0 !important;
}
.theme-dark .footer-31IekZ {
  // Screen-Share Modal Footer
  background-color: $nord-1 !important;
}
